

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;

}

.search-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.search-filter form {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.search-filter select,
.search-filter input[type="text"] {
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-right: 1px solid #ddd;
    background-color: white;
}


.select-wrapper {
    position: relative;
    display: inline-block;
}

.search-filter select {
    appearance: none;
    background-color: white;
    position: relative;
    padding-right: 30px;
}

.select-wrapper::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 10px;
    color: #ddd;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input[type="text"] {
    padding-left: 30px;
    font-family: Arial,'Font Awesome 5 Free';
    font-weight: 400;
}

.input-wrapper::before {
    content: '\f002';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 16px;
    color: #ddd;
}

.search-filter button {
    padding: 10px 20px;
    background-color: #0223fbce;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-filter button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.detail-button,
.favorite-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.detail-button {
    background-color: #0223fbce;
    color: #fff;
}

.favorite-button {
    background-color: white;
    color: #ddd;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s ease;
}

.favorite-button.favorited {
    color: red;
}

.heart {
    font-size: 24px;
    display: inline-block;
    transition: color 0.3s ease;
}


@media (max-width: 768px) {
    .search-filter {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .search-filter form {
        flex-direction: column;
        width: 100%;
    }

    .search-filter select,
    .search-filter input[type="text"],
    .search-filter button {
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
        padding: 10px;
    }

    .restaurant-list {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .card-content {
        padding: 10px;
    }

    .card-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .detail-button,
    .favorite-button {
        width: 100%;
        padding: 10px;
    }
}


